{% extends "base.html.twig" %}
{% block title %}To Do List app{% endblock %}
{% block body %}

		<div class="navbar navbar-light navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">To Do List app</a>
					<img src="{{ asset('img/todolist_homepage.jpg') }}" alt="homepage picture" />
				</div>
			</div>
		</div>

		<div class="container">

			<hr>
			<footer>
				<div class="row">
					<div class="col-lg-12">
						<p class="pull-right">Copyright &copy; OpenClassrooms</p>
						<img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
					</div>
				</div>
			</footer>
			
		</div>
{% endblock %}