{% extends 'base.html.twig' %}

{% block body %}

	<div id="form-container">
		<h1>Edit task</h1>
		{{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-success pull-right">Edit</button>
		{{ form_end(form) }}

		<a href="{{ path('task_list') }}" class="btn btn-primary">Back to task list</a>
	</div>
{% endblock %}
